services:
  iot-cassandra-1:
    image: cassandra:5.0.6
    container_name: iot_cassandra_1
    ports:
      - 9042:9042
    networks:
      - iot-network
    environment:
      - CASSANDRA_CLUSTER_NAME=iot_cassandra_cluster
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      - CASSANDRA_DC=datacenter1
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=128M
    volumes:
      - cassandra-node-1:/var/lib/cassandra:rw
    restart:
      always
    healthcheck:
      test: ["CMD", "cqlsh", "-u", "cassandra", "-p", "cassandra", "-e", "describe keyspaces"]
      interval: 15s
      timeout: 10s
      retries: 10
      start_period: 30s

  iot-cassandra-2:
    image: cassandra:5.0.6
    container_name: iot_cassandra_2
    ports:
      - 9043:9042
    networks:
      - iot-network
    environment:
      - CASSANDRA_CLUSTER_NAME=iot_cassandra_cluster
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      - CASSANDRA_DC=datacenter1
      - CASSANDRA_SEEDS=iot-cassandra-1
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=128M
    depends_on:
      iot-cassandra-1:
        condition: service_healthy
    volumes:
      - cassandra-node-2:/var/lib/cassandra:rw
    healthcheck:
      test: ["CMD", "cqlsh", "-u", "cassandra", "-p", "cassandra", "-e", "describe keyspaces"]
      interval: 15s
      timeout: 10s
      retries: 10
      start_period: 45s

  iot-cassandra-3:
    image: cassandra:5.0.6
    container_name: iot_cassandra_3
    ports:
      - 9044:9042
    networks:
      - iot-network
    environment:
      - CASSANDRA_CLUSTER_NAME=iot_cassandra_cluster
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      - CASSANDRA_DC=datacenter1
      - CASSANDRA_SEEDS=iot-cassandra-1
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=128M
    depends_on:
      iot-cassandra-2:
        condition: service_healthy
    volumes:
      - cassandra-node-3:/var/lib/cassandra:rw
    healthcheck:
      test: ["CMD", "cqlsh", "-u", "cassandra", "-p", "cassandra", "-e", "describe keyspaces"]
      interval: 15s
      timeout: 10s
      retries: 10
      start_period: 60s

  iot-app:
    image: golang:1.25.3-alpine
    container_name: iot_app
    working_dir: /app
    ports:
      - "8080:8080"
    depends_on:
      iot-cassandra-1:
        condition: service_healthy
      iot-cassandra-2:
        condition: service_healthy
      iot-cassandra-3:
        condition: service_healthy
    environment:
      - CASSANDRA_CONTACT_POINTS=iot-cassandra-1,iot-cassandra-2,iot-cassandra-3
      - CASSANDRA_LOCAL_DC=datacenter1
    volumes:
      - .:/app
    command: go run main.go
    networks:
      - iot-network

  sensor-temp:
    image: python:3.14-alpine
    container_name: sensor_temp
    environment:
      - SENSOR_ID=temp_001
      - SENSOR_TYPE=temperature
      - API_URL=http://iot-app:8080
      - MIN_VALUE=15
      - MAX_VALUE=35
      - UNIT=C
      - INTERVAL=10
    volumes:
      - ./simulated_sensors/sensor.py:/app/sensor.py
    depends_on:
      iot-app:
        condition: service_started
    networks:
      - iot-network
    restart: unless-stopped
    command: python -u /app/sensor.py

  sensor-humidity:
    image: python:3.14-alpine
    container_name: sensor_humidity
    environment:
      - SENSOR_ID=humidity_001
      - SENSOR_TYPE=humidity
      - API_URL=http://iot-app:8080
      - MIN_VALUE=30
      - MAX_VALUE=90
      - UNIT=%
      - INTERVAL=15
    volumes:
      - ./simulated_sensors/sensor.py:/app/sensor.py
    depends_on:
      iot-app:
        condition: service_started
    networks:
      - iot-network
    restart: unless-stopped
    command: python -u /app/sensor.py

  sensor-air:
    image: python:3.14-alpine
    container_name: sensor_air
    environment:
      - SENSOR_ID=air_001
      - SENSOR_TYPE=air_quality
      - API_URL=http://iot-app:8080
      - MIN_VALUE=0
      - MAX_VALUE=500
      - UNIT=AQI
      - INTERVAL=20
    volumes:
      - ./simulated_sensors/sensor.py:/app/sensor.py
    depends_on:
      iot-app:
        condition: service_started
    networks:
      - iot-network
    restart: unless-stopped
    command: python -u /app/sensor.py

volumes:
  cassandra-node-1:
  cassandra-node-2:
  cassandra-node-3:

networks:
  iot-network:
    driver: bridge
